.site-footer {
  background: #0e1111;
  padding: 40px;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-inner {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

/* LOGO */
.footer-logo img {
    width: 160px;
    height: auto;
    display: block;
}

/* MENU */
.footer-menu {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.footer-menu a {
  color: #f6f6f6;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s ease;
}

.footer-menu a:hover {
  opacity: 1;
  color: #810576;
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  gap: 18px;
}

.footer-social a {
  color: #f6f6f6;
  font-size: 20px;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  color: #810576;
  transform: translateY(-2px);
}


/* MOBILE */
@media (max-width: 768px) {
  .footer-inner {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .footer-menu {
    flex-wrap: wrap;
  }

  .footer-social {
    justify-content: center;
  }
}
