#skills {
  background: #0e1111;
  padding: 80px 20px;
}

.skill-title {
  text-align: center;
  color: #f6f6f6;
  font-size: 35px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px; 
  flex-wrap: wrap;
}

.skills-box {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  padding: 40px 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 380px;
}

.skill {
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
}

.skill span {
  margin-bottom: 8px;
  font-weight: 600;
}

.bar {
  width: 100%;
  height: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1);
}

.fill {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  background: #810576;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(129, 5, 118, 0.8);
  transition: width 1.8s ease;
}

/* Hover glow */
.skill:hover .fill {
  box-shadow: 0 0 25px rgba(129, 5, 118, 1);
}

/* MOBILE */
@media (max-width: 768px) {
  .skills-wrapper {
    flex-direction: column;
    gap: 25px;
   padding: 40px 20px;
   text-align: center;
    }

  }

  .skills-box {
    min-width: 100%;
    padding: 20px 10px;
  }

  .bar {
    height: 18px;
  }

